@import './_variables';
%primary-color-combination {
  background: $grey-dark;
  color: $blue-light;
}
%secondary-color-combination {
  background: $blue-light;
  color: $grey-dark;
}
%high-contrast {
  background-color: $grey-dark;
  color: white;
}
%info-color-combination {
  background: $green-light;
  color: $grey-dark;
}
%warning-color-combination {
  background: $yellow-light;
  color: $grey-dark;
}
%error-color-combination {
  background: $red-light;
  color: white;
}
