$blue-light: #44DDFF;
$green-light: #55DD77;
$red-light: #FF3535;
$yellow-light: #FFCD3A;
$grey-dark: #303030;

$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1370px;

$global-lineheight: 1.5;
