@import '../helpers/_mixins';
%app-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 4rem 4rem auto 12rem;
  grid-template-areas:
    "app-header"
    "app-header"
    "main"
    "footer";
  width: 100%;
  height: 100%;
  @include tablet {
    grid-template-columns: 1fr 5fr auto 5fr 1fr;
    grid-template-areas:
      "app-header app-header app-header app-header app-header"
      "app-header app-header app-header app-header app-header"
      "main main main main main"
      "footer footer footer footer footer";
  }
  @include desktop {
    grid-template-columns: calc(100% / 6) calc(100% / 1.5) calc(100% / 6);
    grid-template-areas:
      "app-header app-header app-header"
      "app-header app-header app-header"
      "sidebar-left  main sidebar-right"
      "footer footer footer";
      .sidebar-left {
        grid-area: sidebar-left;
      }
      .sidebar-right {
        grid-area: sidebar-right;
      }
  }
  align-items: stretch;
  justify-content: flex-start;

  .app-header {
    grid-area: app-header;
  }
  .app-main {
    grid-area: main;
  }
  .app-footer {
    grid-area: footer;
  }
}
