@import '../helpers/_variables';
@import '../helpers/_mixins';
@import '../components/_buttons';
%sidebar {
  @include flexparent(column, stretch, flex-start);
  @include tablet {
    width: 75%;
  }
  @include laptop {
    width: 50%;
  }
  @include desktop {
    position: relative;
    margin-top: calc(1rem / 3);
  }
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 350px;
  background: rgba($blue-light, 0.9);
  color: $grey-dark;
  height: 100%;
  overflow: overlay;
  padding: 1rem;
  &.sidebar-left {
    left: 0;
  }
  &.sidebar-right {
    right: 0;
  }
  .sidebar-headline {
    $buttonsize: 2rem;
    @include flexparent(nowrap);
    position: relative;
    width: 100%;
    line-height: 1;
    > h3 {
      flex: 1 11 calc(100% - #{$buttonsize});
      font: {
        size: 1rem;
        variant: small-caps;
      }
      line-height: 1.5;
    }
    button {
      @extend %button;
      flex: 1 1 #{$buttonsize};
    }
    @include desktop {
      display: none;
    }
  }
  .sidebar-content {
    @include flexparent(column, stretch, stretch);
    flex: 1 1 100%;
    padding: 6px;
  }
}
