$primary-bg: darkslategray;
$primary-color: complement($color: darkslategray);
*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font: {
    family: "IBM Plex Sans Light", "Arial", "sans serif";
    size: 16px;
  }
  white-space: nowrap;
}

header,
div,
ul {
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: space-evenly;
  &.ai-start {
    align-items: flex-start;
  }
  &.ai-end {
    align-items: flex-end;
  }
  &.ai-stretch {
    align-items: stretch;
  }
  &.ai-center {
    align-items: center;
  }
  &.ai-baseline {
    align-items: baseline;
  }
  &.ac-start {
    align-content: flex-start;
  }
  &.ac-end {
    align-content: flex-end;
  }
  &.ac-stretch {
    align-content: stretch;
  }
  &.ac-center {
    align-content: center;
  }
  &.ac-around {
    align-content: space-around;
  }
  &.ac-between {
    align-content: space-between;
  }
  &.jc-start {
    justify-content: flex-start;
  }
  &.jc-end {
    justify-content: flex-end;
  }
  &.jc-between {
    justify-content: space-between;
  }
  &.jc-around {
    justify-content: space-around;
  }
  &.jc-even {
    justify-content: space-evenly;
  }
  &.jc-center {
    justify-content: center;
  }
}

li {
  padding: 0.3rem 0.15rem;
  display: inline-flex;
  flex: 1 auto;
}

h1,
h2,
h3,
a {
  display: block;
  width: 100%;
  text-transform: capitalize;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  cursor: pointer;
  color: #0cf;
  background: rgba($color: #000000, $alpha: 0);
  font-size: 1.2rem;
  transition: all 0.3s;
  &:hover {
    color: #6ef;
    background: rgba($color: #000000, $alpha: 0.3);
  }
}

.row {
  flex-flow: nowrap;
}

.row-wrap {
  flex-flow: row wrap;
}

.column {
  flex-flow: column;
}